@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(".../../../../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  font-family: inherit;
}

.content {
  overflow-y: auto;
  height: 100vh;
}
.content::-webkit-scrollbar {
  width: 2px;
}
.content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0958d9;
}
.content::-webkit-scrollbar-track {
  margin: 15px 0;
}

.ant-table-selection-column {
  background-color: white !important;
}
